.container-card {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.blog {
  margin: 1rem;
  width: 50%;
}
.blog__card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 7px;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
.blog__card-title {
      padding: 1rem;
      margin: 1rem;
      color: #545252;
    }
.blog__card-text {
      padding: 1rem;
      font-size: 1rem;
      margin-bottom: 1rem;
      font-weight: 300;
    }
.blog__card-btn {
     margin: 2rem 1rem;
     width: 62%;
    }
.book {
  margin: 3rem auto;
  width: 80%;
}
.book__title {
    color: #545252;
    font-size: 2rem;
    margin-bottom: 1rem;
  }
.book__title--gren {
      color: #b7ff66;
      margin-bottom: 1rem;
    }
.book__text {
    font-weight: 300;
    margin-bottom: 2rem;
  }
.book__text--center {
      width: 70%;
      margin: 2rem auto;
    }
.book__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f9bc28;
    padding: 1.2rem 2rem;
    margin: 0 auto;
    width: 90%;
  }
.book__form-inputs {
     border: 2px solid #fff;
     width: 90%;
     margin: 1rem;
     display: flex;
     justify-content: space-between;
     align-items: center;
   }
.book__form-inputs input {
       width: 90%;
       padding: 1rem;
       color: #fff;
       background: none;
       border: none;
       outline: none;
       font-size: 1rem;
     }
.book__form-inputs input::-moz-placeholder {
         color: #fff;
       }
.book__form-inputs input::placeholder {
         color: #fff;
       }
.book__form-inputs i {
       padding: 1rem;
       color: #fff;
     }
.book__form-btn {
     width: 90%;
     background-color: #fff;
     color: orange;
     font-weight: 900;
     padding: 1rem;
     border: none;
     border-radius: 7px;
     font-size: 1rem;
   }
.book__btn {
    background-color: orange;
    color: #fff;
    font-weight: 900;
    padding: 1rem;
    text-decoration: none;
    border-radius: 7px;
  }
.book__btn--block {
      display: block;
      width: 70%;
      margin: 2.5rem auto;
      text-align: center;
      font-weight: 500;
    }
.book__btn--inline {
     background: transparent;
     color: orange;
     border-bottom: 2px solid orange;
     margin-top: 2rem;
     font-weight: 300;
   }
.book__features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
.book__features-img {
      border-radius: 2px;
    }
.book__features-img:hover {
        transform: scale(1.1);
      }
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
  align-items: center;
  margin-bottom: 2rem;
}
.card-menu {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 23%;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 1rem;
    height: 50vh;
  }
.card__icon {
    color: orange;
    font-size: 3rem;
    padding: 1rem;
  }
.card__icon:hover {
      color: #5ade35;
    }
.card__icon img {
      border-radius: 50%;
    }
.card__title {
    font-size: 2rem;
    color: #5ade35;
    margin-bottom: 0.7rem;
  }
.card__text {
    text-align: center;
    font-weight: 300;
    padding: 1rem;
  }
.card-testimonial {
    height: 55vh;
  }
.footer{
  margin-top: 3rem;
  background-color: #000;
  padding: 1rem;
  color: #fff;
  text-align: center;
}
.header {
  height: 105vh;
  background-image: url("../img/carousel-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 5rem;
  background-color: #fff;
  height: 70px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: fixed;
  top: 0;
  width: 100%;
}
.menu__logo--green {
  color: #0ccc26;
}
.menu {
  display: flex;
  list-style: none;
}
.menu__logo {
    font-size: 4rem;
    color: #fcba03;
  }
.menu__logo--green {
      color: #0ccc26;
    }
.menu__link {
    padding: 1rem;
    color: #000;
    text-decoration: none;
  }
.menu__link:hover{
      color: #0ccc26;
    }
.menu__icon {
    background: transparent;
    border: none;
    font-size: 2.5rem;
    display: none;
  }
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}
.hero__title {
    margin-top: 20rem;
    font-size: 5rem;
  }
.hero__title--orange {
      color: #fcba03;
    }
.hero__subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    width: 50vw;
  }
.btn__orange,
.btn__green {
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  font-weight: 900;
  padding: 1rem;
  border-radius: 5px;
}
.btn__orange {
  background-color: #fcba03;
}
.btn__green {
  background-color: #0ccc26;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Roboto, serif;
}
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
  background: none;
}
img {
  max-width: 100%;
}
.team {
  width: 40%;
  margin: 0 auto;
}
.team__features-img {
    margin: 1rem;
    width: 80%;
  }
.team__name {
    color: #545252;
    text-align: center;
  }
.team__role {
    text-align: center;
    font-weight: 300;
  }
@media (max-width: 1024px) {
  .menu__logo {
    font-size: 2rem;
  }

  .book__form {
    width: 80%;
  }

  .book__features-img {
    width: 50%;
  }

  .book__text--center {
    width: 100%;
  }

  .card-menu {
    width: 27%;
  }
}
@media (max-width: 800px) {

  .hero__title{
    margin-top: 10rem;
  }

  .menu {
    flex-direction: column;
    position: absolute;
    background-color: #5966e3;
    width: 100%;
    top: 9vw;
    left: 0;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
    display: none;
    font-size: 1.5rem;
  }

  .menu-responsive {
    display: block;
  }

  .menu__item {
    padding: 2rem;
    width: 100%;
    text-align: center;
  }

  .menu__item:hover {
    background-color: #2f41e0;
  }

  .menu__link {
    color: #fff;
  }

  .menu__logo {
    font-size: 2rem;
    padding: 1rem;
  }

  .menu__icon {
    display: block;
  }

  .book__btn--block {
    width: 100%;
  }

  .card {
    flex-direction: column;
  }

  .card-menu {
    width: 67%;
    height: 95vh;
  }

  .container-card{
    flex-direction: column;
    align-items: center;
  }

  .blog__card{
    height: 70vh;
    width: 100%;
  }

}
@media (max-width: 550px) {

  .menu__logo{
    font-size: 1.3rem;
  }

  .menu {
    top: 17vw;
  }

  .hero__title {
    font-size: 3rem;
    margin-bottom: 1.2rem;
  }

  .hero__subtitle {
    font-size: 1.2rem;
    width: 100vw;
  }

  .card-menu {
    width: 80%;
  }

  .team__features-img {
    border-radius: 5px;
  }

  .blog{
    width: 95%;
  }
}
